<form class="page-wrap dwz-list-form" onsubmit="return false">
	    <input type="hidden" name="pageIndex" value="1">
    	<input type="hidden" name="pageSize" value="10">
    	{{if sendData}}
	    	{{each sendData as item}}
	    		<input type="hidden" name="{{item.name}}" value="{{item.value}}">
	    	{{/each}}
    	{{/if}}
	<header>
		{{if searchTitle}}
		<div class="toolbar">
			<a class="bar-button back-button" name="close"><i class="dwz-icon-arrow-left"></i></a>
			<div class="header-title">{{searchTitle}}</div>
		</div>
		{{/if}} {{if searchField}}
		<div class="toolbar">
			<div class="bar search-bar bar-reset">
				<label class="item-input filter-keywords">
					<i class="dwz-icon-search"></i>
					<input type="search" class="dwz-disable-autofocus" name="{{searchField}}" value="" placeholder="搜索关键字" />
				</label>
			</div>
		</div>
		{{/if}}
	{{if seatchType}}
	<div class="form-content">
			<div class="form-item no-line is-mini">
				<div class="item-content">
					<label style="width: 80px">搜索类别：</label>
					<select class="flex-1" name="searchType">
						<option value="">全部</option>
						{{each filterItems as item}}
							{{if item.search}}
							<option value="{{item.name}}">{{item.label}}</option>
							{{/if}}
						{{/each}}
					</select>
				</div>
			</div>
		</div>
	{{/if}}
		<div class="toolbar">
			<div class="bar title-bar grid-col-{{filterItems.length}}">
				{{each filterItems as item}}
				<div class="item">{{item.label}}</div>
                {{/each}}
			</div>
		</div>
	</header>

	<section>
		<div class="scroll-content dwz-list">
			<div class="scroll">
				<div class="pullDown">
					<span class="pullDownIcon">&nbsp;</span>
					<span class="pullDownLabel" data-flip="松开刷新">下拉刷新</span>
				</div>
				
				<ul class="list dwz-list-box"></ul>

				<div class="pullUp">
					<span class="pullUpIcon">&nbsp;</span>
					<span class="pullUpLabel" data-loading="加载中...">更多...</span>
				</div>
			</div>
		</div>
	</section>
	{{if buttonLists}}
	<div class="button-group">
		{{each buttonLists as item}}
			{{if item.btnType == "search"}}
			<button class="button primary is-plain" name="{{item.btnType}}">{{item.viewText}}</button>
			{{else if item.btnType == "config"}}
			<button class="button primary" name="{{item.btnType}}">{{item.viewText}}</button>
			{{else if item.btnType == "close"}}
			<button class="button" name="{{item.btnType}}">{{item.viewText}}</button>
			{{else}}
			<button class="button warning" name="{{item.btnType}}">{{item.viewText}}</button>
			{{/if}}
        {{/each}}
	</div>
	{{/if}}
</form>
