<form class="page-wrap dwz-list-form" onsubmit="return false">
	<header>
		{{if Title}}
		<div class="toolbar">
			<div class="header-title">{{Title}}</div>
		</div>
		{{/if}}
	</header>

	<section>
		<div class="scroll-content dwz-list">
			<div class="scroll">
				<div class="pullDown">
					<span class="pullDownIcon">&nbsp;</span>
					<span class="pullDownLabel" data-flip="松开刷新">下拉刷新</span>
				</div>
				
				<ul class="list dwz-list-box"></ul>

				<div class="pullUp">
					<span class="pullUpIcon">&nbsp;</span>
					<span class="pullUpLabel" data-loading="加载中...">更多...</span>
				</div>
			</div>
		</div>
	</section>
	<div class="button-group">
		<button class="button primary" type="config">关闭</button>
	</div>
</form>