<form class="page-wrap dwz-list-form" onsubmit="return false">
	<input type="hidden" name="pageNum" value="1" />
	<section>
		<div class="scroll-content dwz-list">
			<div class="scroll">
				<div class="pullDown">
					<span class="pullDownIcon">&nbsp;</span>
					<span class="pullDownLabel" data-flip="松开刷新">下拉刷新</span>
				</div>
				<ul class="list dwz-list-box">
					<div class="tab-panl form-content unitBox">
							<div class="panel-item" style="display: flex;justify-content: space-between;align-items: center;">
								<p class="item item-tinfo1">{{sendData.type =='equip'?"预留费":"其他费"}}</p>
								<!--<i class="dwz-icon-arrow-add_blue" onclick="biz.quotationList.toggleAdd('toggleStandard')"></i>-->
							</div>
							<div id="toggleStandard">
								{{each sendData.detail as item}}
							    <div class="form-item">
									<div class="item-content">
										<span style="display: none;">{{item.isnew}}</span>
										<label contenteditable="{{item.isnew}}" style="{{item.isnew == 'true'?'height: 30px;border: 1px solid #2467ff;border-radius: 5px;':''}}">{{item.label}}</label>
										<input type="text" element-type="INPUT" readonly="readonly" value="{{item.value}}" class="dwz-clipboard">
										{{if item.isnew == 'true'}}
											<i class="dwz-icon-arrow-deleteIcon" style="margin-left: 5px;" onclick="biz.quotationList.toggleRemove(this,'"+sr+"');"></i>
										{{/if}}
									</div>
								</div>
							    {{/each}}
							</div>
						</div>
				</ul>

				<div class="pullUp">
					<span class="pullUpIcon">&nbsp;</span>
					<span class="pullUpLabel" data-loading="加载中...">更多...</span>
				</div>
			</div>
		</div>
	</section>
	<div class="button-group">
		<button class="button primary" name="config">确定</button>
		<button class="button" name="close">关闭</button>
	</div>
</form>