<form class="dwz-list-form page-wrap">
    <input type="hidden" name="pageNum" value="1">
    <header>
        <div class="toolbar">
            <a class="bar-button back-button"><i class="dwz-icon-arrow-left"></i></a>
            <div class="header-title">土建图录入</div>
        </div>
        
    </header>

    <section>

				<div class="w-tabbar dwz-tabs full-size">
					<div class="tab-bar">
						<a class="tab-item active">项目信息</a>
						<a class="tab-item">参数录入</a>
					</div>
					<div class="tab-panel flex-wrap-v">
						<div class="panel-item flex-1 active">
							<div class="dwz-panel dwz-collapse">
                                <div class="panel-header">
                                    <label class="panel-title blockquote">项目基本信息</label>
                                    <a class="item-right"><i class="dwz-icon-arrow-up"></i></a>
                                </div>
                                <div class="panel-content">
                                    <div class="form-content unitBox">
                                        <div class="form-item">
                                            <div class="item-content">
                                                <label class="">项目编号</label>
                                                <input type="text" name="ProjectId" id="ProjectId" value="" readonly class="dwz-clipboard" data-error="">
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="item-content">
                                                <label class="">项目名称</label>
                                                <input type="text" name="ProjectName" id="ProjectName" value="" readonly class="dwz-clipboard" data-error="">
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="item-content">
                                                <label class="">销售员</label>
                                                <input type="text" name="Manager" id="Manager" value="" readonly class="dwz-clipboard" data-error="">
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="item-content">
                                                <label class="">工程所在地及地址</label>
                                                <input type="text" name="Address" id="Address" value="" readonly class="dwz-clipboard" data-error="">
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="item-content">
                                                <label class="">用户单位</label>
                                                <input type="text" name="UserUnit" id="UserUnit" readonly value="" class="dwz-clipboard" data-error="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="dwz-panel dwz-collapse">
                                <div class="panel-header">
                                    <label class="panel-title blockquote">土建图基本信息</label>
                                    <a class="item-right"><i class="dwz-icon-arrow-up"></i></a>
                                </div>
                                <div class="panel-content">
                                    <div class="form-content unitBox">
                                        <div class="form-item">
                                            <div class="item-content">
                                                <label class="">土建编号</label>
                                                <input type="text" name="LayoutId" id="LayoutId" value="" readonly class="dwz-clipboard" data-error="">
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="item-content">
                                                <label class="">备注</label>
                                                <input type="text" name="" value="" class="dwz-clipboard" data-error="">
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="dwz-panel dwz-collapse">
                                <div class="panel-header">
                                    <label class="panel-title blockquote">梯井形式</label>
                                    <a class="item-right"><i class="dwz-icon-arrow-up"></i></a>
                                </div>
                                <div class="panel-content">
                                    <div class="form-content unitBox">
                                        <div class="form-item">
                                            <div class="item-content">
                                                <label class="">梯井形式</label>
                                                
                                            </div>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
						</div>
						<div class="panel-item flex-1">
							<div class="dwz-panel" style="min-height: 120px;height: 100%;">
                                <div class="slideTab full-abs">
                                    <div class="hd">
                                        <ul>
                                            <li>基本信息</li>
                                            <li class="VF" style="display:none;">土建参数</li>
                                            <li  style="display:none;">电器参数</li>
                                            <li class="VE">井道参数</li>
                                            <li class="VE">层站参数</li>
                                            <li class="VE">出入口参数</li>
                                            <li class="VE">机房及其他参数</li>
                                            <li>附件列表</li>
                                            <li>非标录入</li>
                                            <li>技术方案</li>
                                        </ul>
                                    </div>
                                    <div class="bd">
                                        <ul>
                                            <!-- 基本信息 -->
                                            <li>
                                                <div class="scroll-content dwz-scroll">
                                                    <div class="scroll dwz-panel dwz-collapse">
                                                        <div class="panel-header">
                                                            <label class="panel-title blockquote">基本信息</label>
                                                            <a class="item-right"><i class="dwz-icon-arrow-up"></i></a>
                                                        </div>
                                                        <div class="panel-content">
                                                            <div class="padding-vh g2cType" id="BASICINFO">
                                                                <div class="Title grid-col-3">
                                                                    <div class="item"><strong>参数名称</strong></div>
                                                                    <div class="item"><strong>参数值-销售</strong></div>
                                                                    <div class="item"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-24 g2cType" id="LBASICINFO" style="display: none;">
                                                          
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-24 g2cType" id="RBASICINFO" style="display: none;">
                                                              
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- 土建参数 -->
                                            <li style="display:none;">
                                                <div class="scroll-content dwz-scroll">
                                                    <div class="scroll dwz-panel dwz-collapse">
                                                        <div class="panel-header">
                                                            <label class="panel-title blockquote">土建参数</label>
                                                            <a class="item-right"><i class="dwz-icon-arrow-up"></i></a>
                                                        </div>
                                                        <div class="panel-content">
                                                            <div class="col col-24 g1cType" id="VFLAYOUTINFO">
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                            <!-- 隐藏参数 -->
                                                            <div class="col col-24 g1cType" id="VFLAYOUTHIDDEN" style="display: none;">
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- 电器参数 -->
                                            <li style="display: none;">
                                                <div class="scroll-content dwz-scroll">
                                                    <div class="scroll dwz-panel dwz-collapse">
                                                        <div class="panel-header">
                                                            <label class="panel-title blockquote">电器参数</label>
                                                            <a class="item-right"><i class="dwz-icon-arrow-up"></i></a>
                                                        </div>
                                                        <div class="panel-content">
                                                            <div class="col col-24 g1cType" id="POWERINFO">
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-24 g2cType" id="LPOWERINFO">
                                                              
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-24 g2cType" id="RPOWERINFO">
                                                              
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- 井道参数 -->
                                            <li>
                                                <div class="scroll-content dwz-scroll">
                                                    <div class="scroll dwz-panel dwz-collapse">
                                                        <div class="panel-header">
                                                            <label class="panel-title blockquote">井道参数</label>
                                                            <a class="item-right"><i class="dwz-icon-arrow-up"></i></a>
                                                        </div>
                                                        <div class="panel-content g1cType" id="LAYOUTINFO">
                                                            <div class="Title col col-24">
                                                                <div class="col col-6"><strong>参数名称</strong></div>
                                                                <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                <div class="col col-9"><strong>参数值-技术</strong></div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-24 g2cType" id="LLAYOUTINFO">
                                                          
                                                            <div class="Title col col-24">
                                                                <div class="col col-6"><strong>参数名称</strong></div>
                                                                <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                <div class="col col-9"><strong>参数值-技术</strong></div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-24 g2cType" id="RLAYOUTINFO">
                                                          
                                                            <div class="Title col col-24">
                                                                <div class="col col-6"><strong>参数名称</strong></div>
                                                                <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                <div class="col col-9"><strong>参数值-技术</strong></div>
                                                            </div>
                                                        </div>
                                                        <!-- 角柱信息 -->
                                                        <div class="panel-content g1cType" id="BEAM">
                                                            <div class="Title col col-24">
                                                                <div class="col col-6"><strong>参数名称</strong></div>
                                                                <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                <div class="col col-9"><strong>参数值-技术</strong></div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-24 g2cType" id="LBEAM">
                                                          
                                                            <div class="Title col col-24">
                                                                <div class="col col-6"><strong>参数名称</strong></div>
                                                                <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                <div class="col col-9"><strong>参数值-技术</strong></div>
                                                            </div>
                                                        </div>
                                                        <div class="col col-24 g2cType" id="RBEAM">
                                                          
                                                            <div class="Title col col-24">
                                                                <div class="col col-6"><strong>参数名称</strong></div>
                                                                <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                <div class="col col-9"><strong>参数值-技术</strong></div>
                                                            </div>
                                                        </div>
                                                        <!-- 隐藏参数 -->
                                                        <div class="panel-content" id="LAYOUTHIDDEN" style="display: none;">
                                                            <div class="Title col col-24">
                                                                <div class="col col-6"><strong>参数名称</strong></div>
                                                                <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                <div class="col col-9"><strong>参数值-技术</strong></div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-content" id="LLAYOUTHIDDEN" style="display: none;">
                                                            <div class="Title col col-24">
                                                                <div class="col col-6"><strong>参数名称</strong></div>
                                                                <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                <div class="col col-9"><strong>参数值-技术</strong></div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-content" id="RLAYOUTHIDDEN" style="display: none;">
                                                            <div class="Title col col-24">
                                                                <div class="col col-6"><strong>参数名称</strong></div>
                                                                <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                <div class="col col-9"><strong>参数值-技术</strong></div>
                                                            </div>
                                                        </div>
                                                        <!-- 技术参数 -->
                                                        <div class="panel-content" id="TechnicalParameters" style="display: none;">
                                                            <div class="Title col col-24">
                                                                <div class="col col-6"><strong>参数名称</strong></div>
                                                                <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                <div class="col col-9"><strong>参数值-技术</strong></div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-content" id="LTechnicalParameters" style="display: none;">
                                                            <div class="Title col col-24">
                                                                <div class="col col-6"><strong>参数名称</strong></div>
                                                                <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                <div class="col col-9"><strong>参数值-技术</strong></div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-content" id="RTechnicalParameters" style="display: none;">
                                                            <div class="Title col col-24">
                                                                <div class="col col-6"><strong>参数名称</strong></div>
                                                                <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                <div class="col col-9"><strong>参数值-技术</strong></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- 层站参数 -->
                                            <li>
                                                <div class="scroll-content dwz-scroll">
                                                    <div class="scroll dwz-panel dwz-collapse">
                                                        <div class="panel-header">
                                                            <label class="panel-title blockquote">层站参数</label>
                                                            <a class="item-right"><i class="dwz-icon-arrow-up"></i></a>
                                                        </div>
                                                        <div class="panel-content">
                                                            <div class="col col-24 g1cType" id="FLOORINFO">
                                                              
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-24 g2cType" id="LFLOORINFO">
                                                              
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-24 g2cType" id="RFLOORINFO">
                                                              
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- 出入口参数 -->
                                            <li>
                                                <div class="scroll-content dwz-scroll">
                                                    <div class="scroll dwz-panel dwz-collapse">
                                                        <div class="panel-header">
                                                            <label class="panel-title blockquote">出入口参数</label>
                                                            <a class="item-right"><i class="dwz-icon-arrow-up"></i></a>
                                                        </div>
                                                        <div class="panel-content">
                                                            <div class="col col-24 g1cType" id="DOORINFO">
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-24 g2cType" id="LDOORINFO">
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                            <div class="col col-24 g2cType" id="RDOORINFO">
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- 机房及其他参数 -->
                                            <li>
                                                <div class="scroll-content dwz-scroll">
                                                    <div class="scroll dwz-panel dwz-collapse">
                                                        <div class="panel-header">
                                                            <label class="panel-title blockquote">机房及其他参数</label>
                                                            <a class="item-right"><i class="dwz-icon-arrow-up"></i></a>
                                                        </div>
                                                        <div class="panel-content">
                                                            <div class="col col-24" id="ELEROOMINFO">
                                                                <div class="Title col col-24">
                                                                    <div class="col col-6"><strong>参数名称</strong></div>
                                                                    <div class="col col-9"><strong>参数值-销售</strong></div>
                                                                    <div class="col col-9"><strong>参数值-技术</strong></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- 附件列表 -->
                                            <li>
                                                <div class="scroll-content dwz-scroll">
                                                    <div class="scroll dwz-panel dwz-collapse">
                                                        <div class="panel-header">
                                                            <label class="panel-title blockquote">附件列表</label>
                                                            <a class="item-right"><i class="dwz-icon-arrow-up"></i></a>
                                                        </div>
                                                        <div class="panel-content" id="BASICINFO">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- 非标录入 -->
                                            <li>
                                                <div class="scroll-content dwz-scroll">
                                                    <div class="scroll dwz-panel dwz-collapse">
                                                        <div class="panel-header">
                                                            <label class="panel-title blockquote">非标录入</label>
                                                            <a class="item-right"><i class="dwz-icon-arrow-up"></i></a>
                                                        </div>
                                                        <div class="panel-content" id="BASICINFO">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- 技术方案 -->
                                            <li>
                                                <div class="scroll-content dwz-scroll">
                                                    <div class="scroll dwz-panel dwz-collapse">
                                                        <div class="panel-header">
                                                            <label class="panel-title blockquote">技术方案</label>
                                                            <a class="item-right"><i class="dwz-icon-arrow-up"></i></a>
                                                        </div>
                                                        <div class="panel-content" id="BASICINFO">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
						</div>

				</div>

	</section>
</form>
<script type="text/javascript">
	function helper(tpl, params) {
		this.find('.slideTab').slideTab({
			onSwitchSlide: ($itemBox, itemTpl, itemParams) => {
				let itemHtml = template.render(itemTpl, itemParams);
				$itemBox.html(itemHtml).initUI();
			}
		})
        biz.layout.layoutForm(tpl, params,this);
	}
    
</script>
