<form class="dwz-list-form page-wrap">
    <input type="hidden" name="pageNum" value="1">
    <header>
        <div class="toolbar">
            <a class="bar-button back-button"><i class="dwz-icon-arrow-left"></i></a>
            <div class="header-title">土建图查询</div>
        </div>
        <div class="toolbar">
			<div class="bar search-bar">
				<label class="item-input filter-keywords">
					<button class="icon icon-search" type="button"></button>
					<input type="search" class="dwz-disable-autofocus" name="keywords" value="" placeholder="">
				</label>
			</div>
		</div>
        <div class="toolbar">
			<div class="bar title-bar grid-col-4">
				<div class="item">土建图编号</div>
                <div class="item">梯型</div>
                <div class="item">项目名称</div>
                <div class="item">流程节点名称</div>
			</div>
		</div>
    </header>

    <section>

        <div class="scroll-content dwz-list">
            <div class="scroll">
                <div class="pullDown">
                    <span class="pullDownIcon">&nbsp;</span>
                    <span class="pullDownLabel" data-flip="松开刷新">下拉刷新</span>
                </div>
                <div class="empty_box">
                    <div class="empty-img">
                        <img src="image/browse-empty-bg.svg">
                    </div>
                    <p class="txt-info is-center">暂时还没有数据哦~</p>
                </div>
                <ul class="list pic-list dwz-list-box">

                </ul>

                <div class="pullUp">
                    <span class="pullUpIcon">&nbsp;</span><span class="pullUpLabel" data-loading="加载中...">加载更多</span>
                </div>

            </div>
            <a href="javascript:void(0)" class="top-btn hide">回顶部</a>
        </div>

    </section>
</form>
<script id="tpl_list" type="text/html">
    {{each list as item}}
    <li class="item dwz-open-right dwz-ctl-hover" data-id="{{item.id}}">
        <!-- <div class="item-icon is-sm"><img src="./image/icon/icon-notice.svg"></div> -->
        <div class="item-content">
            <div class="flex-wrap grid-col-4">
            	<!--<p class="item item-tinfo1"></p>--> 
                <p class="item item-tinfo1" style="color:#2467ff;" onclick="(function(item){
                    if (item.url && biz.checkLiveTime()) {
                        $.navView.open({
                            page_title: item.layoutId,
                            url: item.url
                        })
                    }
                })({{item}})">{{item.layoutId}}</p>
                <p class="item item-tinfo2">{{item.ElevatorType}}</p>
                <p class="item item-tinfo3">{{item.ProjectName}}</p>
                <p class="item item-tinfo4">{{item.InstanceNodeName}}</p>
            </div>
            <!-- <p class="item-info3">{{item.content}}</p> -->
        </div>

        {{if item.url}}{{/if}}
        <!-- {{if item.url}}<i class="dwz-icon-arrow-right"></i>{{/if}} -->

        <div class="item-right">
            <a class="operate-btn" onclick="biz.projectList.open({
                title:'',
                buttons: ['编辑图纸','删除','变更对比', '查看流程列表']
            }, function(ret){

                switch (ret.buttonVal) {
                    case '删除':
                        biz.layout.dellayout(this,'')
                        break;
                    case '编辑图纸':
                        $.navView.open({url:'tpl/widget/layout/Edit.html?&dwz_callback=biz.layout.layoutForm', rel:'layoutForm'})
                        break;
                    case '变更对比':
                        $.alert.toast('暂未开发此功能')
                        break;
                    case '查看流程列表':
                        $.dialog.open({url:'tpl/widget/dialog/dialog2.html',pop:'pop'})
                        break;
                    default:
                        break;
                }
            })">操作</a>
        </div>
    </li>
    {{/each}}
</script>